.greyed {
  color: #999999;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box /* Opera/IE 8+ */;
}
/* Message Bubble Colors */
.queued {
  color: #faa732;
}
.queued_instantly {
  color: #49afcd;
}
.pending {
  color: #faa732;
}
.pending_instantly {
  color: #51a351;
}
.sent {
  color: #51a351;
}
.delivered {
  color: #51a351;
}
.handled {
  color: #51a351;
}
.errored {
  color: #da4f49;
}
.failed {
  color: #da4f49;
}
/* SMS Table stylings */
.glyph.green {
  color: #51a351;
}
.glyph.orange {
  color: #faa732;
}
.glyph.red {
  color: #da4f49;
}
.glyph.grey {
  color: #ccc;
}
.glyph.blue {
  color: #49afcd;
}
.glyph.primary {
  color: #3498db;
}
.formax {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  color: #999999;
}
.formax > li {
  padding: 20px 0;
  border-top: 1px solid #dddddd;
  min-height: 40px;
}
.formax > li.action-formax:hover .formax-summary,
.formax > li.action-open:hover .formax-summary,
.formax > li.action-redirect:hover .formax-summary,
.formax > li.action-link:hover .formax-summary {
  color: #3498db;
  cursor: pointer;
}
.formax > li.action-formax:hover .formax-summary .errored,
.formax > li.action-open:hover .formax-summary .errored,
.formax > li.action-redirect:hover .formax-summary .errored,
.formax > li.action-link:hover .formax-summary .errored {
  color: #3498db;
}
.formax > li.action-formax:hover .formax-icon,
.formax > li.action-open:hover .formax-icon,
.formax > li.action-redirect:hover .formax-icon,
.formax > li.action-link:hover .formax-icon {
  color: #3498db;
  cursor: pointer;
}
.formax .form-horizontal .control-group {
  margin: 0;
  margin-bottom: 3px;
}
.formax .form-horizontal .control-label {
  text-align: left;
}
.formax .formax-icon {
  float: left;
  width: 40px;
  height: 40px;
  font-size: 35px;
  margin-left: 25px;
  vertical-align: bottom;
  border: 0px solid green;
  line-height: 1;
  text-align: center;
  position: absolute;
  padding-right: 20px;
}
.formax .formax-icon.expanded {
  font-size: 80px;
  width: 80px;
  height: 80px;
}
.formax .formax-icon.error {
  color: #da4f49;
}
.formax .formax-icon:hover.error {
  color: #da4f49;
}
.formax .formax-container .attn {
  text-decoration: 'underlined';
  font-weight: bold;
}
.formax .formax-container .formax-form {
  margin-left: 140px;
  display: none;
}
.formax .formax-container .formax-form .smartmin-form-buttons {
  display: none;
}
.formax .formax-container .formax-form .row {
  margin-left: 0;
}
.formax .formax-container .formax-form input[type='submit'] {
  padding: 3px 10px;
  margin-bottom: 10px;
}
.formax .formax-container .formax-form .form-horizontal .controls {
  margin-left: 0;
}
.formax .formax-container .formax-summary {
  border: 0px solid red;
  margin-left: 75px;
  padding-top: 8px;
  vertical-align: top;
  font-size: 16px;
}
.formax .formax-container .formax-summary:hover.error {
  color: #da4f49;
}
.formax .formax-container .extra-formax-buttons {
  float: right;
  margin-right: 100px;
}
.formax .formax-container .extra-formax-buttons a.btn {
  padding: 3px 10px;
  margin-bottom: 10px;
}
.formax .formax-container .field.formax-vertical .control-label {
  display: block;
  float: none;
  text-align: left;
  width: 400px;
}
.formax .formax-container .field.formax-vertical .controls {
  margin-left: 0px;
}
.formax .fixed .formax-icon {
  margin-top: 15px;
  font-size: 80px;
  position: absolute;
}
.formax .fixed .formax-form {
  margin-left: 40px;
}
.formax .fixed .formax-form input[type='submit'] {
  padding: 8px 20px;
  margin-top: 0px;
  margin-left: -80px;
}
